.prime-button {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #fb8b24;
  padding: 5px 10px;
  transition-property: background;
  transition-duration: 0.3s;
  color: #ffffff;
  background-color: #fb8b24;
}
.sec-button {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #fb8b24;
  padding: 5px 10px;
  transition-property: background;
  transition-duration: 0.3s;
  background-color: transparent;
}
